.main{
    position: absolute;
    top: 4.1vh;
}


.img-div{
    background-image: url('../public/hero_img\ \(3\)\ 1\ \(1\).png');
    background-repeat: no-repeat;

    width: 96vw;
    height: 50vh;
   
    z-index: 0;
    /* border: 1px solid black; */
    background-size: cover;
    background-position: center;
    filter: brightness(0);
    filter: contrast(1);

    font-family: "Abril Fatface", serif;
   
}
.main-title{
   
    font-weight: 550;
    font-style: normal;
    font-size: 4.5em;
    line-height: 01;
    
}
.discription{
    font-family: "Afacad Flux", serif;
    font-weight: 600;
    font-size: 2.3em;
    line-height: 01.5;

    border-radius: 200px 20px 20px 200px;
    
}
.typewriter h1 {
  overflow: hidden; /* Ensures text is hidden as it’s being typed */
  border-right: 3px solid white; /* Creates the blinking cursor effect */
  white-space: nowrap; /* Prevents text from wrapping */
  margin: 0 auto; /* Centers the text horizontally */
  letter-spacing: 0.15em; /* Adjusts space between letters */
  animation: typing 5s steps(30, end), blink-caret 0.75s step-end infinite;
  animation-delay: 1s;
}