
.icon{
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: black;
    font-size: larger;
    border-radius: 20%;
    &:hover{
        background-color: #808080;
        cursor: pointer;
        color: white;
        
        
    }
}
#logout{
    border-radius: 100%;
}
.backg{
    
    background-image: url("/bg/bgimg.jpg");
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    
   

    
}


